:root {
    --primary: hsla(138, 97%, 63%, 0.562);
    --secondary: hsla(140, 100%, 32%, 0.65);
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    place-content: center;

    background: linear-gradient(135deg, var(--primary), var(--secondary)),
                url(../img/wallpaper.png) no-repeat center center / cover;
}

.form {
    background: rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(189, 189, 189);
    width: 100vh;
}

.form i {
    font-size: 20px;
    margin-right: 5px;
}

.form button {
    background: rgb(0, 204, 143);
    border: none;
    padding: 10px 25px;
    margin-top: 15px;
    font-weight: bold;
}

.form button:hover {
    background: rgb(2, 110, 60);
}

@media screen and (max-width: 1050px) {
    .form {
        width: auto;
    }
}