body {
    background: linear-gradient(90deg, rgba(0,255,29,0.3477766106442577) 0%, rgba(0,255,158,0.29175420168067223) 100%),
    url(../img/wallpaper.png);
    font-family: 'Georama', sans-serif;
}

form {
    margin: 50px;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    color: #FFF;
}

form i {
    font-size: 19px;
    margin-right: 8px;
}

.btn {
    background: rgb(0, 131, 131);
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.btn:hover {
    background: rgb(0, 202, 108);
}

@media screen and (max-width: 700px) {
    body {
        background: linear-gradient(90deg, rgba(0,255,29,0.3477766106442577) 0%, rgba(0,255,158,0.29175420168067223) 100%),
        url(../img/wallpaper2.png);
    }
    form {
        margin: 0;
        padding: 10px;
    }
}